.financeInfoContainer{
    background-color: transparent;
    overflow: scroll;
    display: flex;
    flex-wrap: nowrap;
}

@-webkit-keyframes move {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 100%;
    }
}

.financeCard{
    display: inline-block;
}