.financeInfoContainer{
    background-color: transparent;
    width: 100%;
    margin-right: 20px;
}


.financeCard{
    display: inline-block;
}

.marqueeDiv{
    animation: marquee 30s linear infinite;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}
.marqueeDiv:hover{
    animation-play-state: paused
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
