#news-container{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    background-color: #1a1c22;
    border-radius: 1rem;
    color: #fafafa;
    height: 679px;
}

#news-container .dashhead-titles{
    margin-left: 8px;
}

#news-container .dashhead {
/*    position: fixed;
    width: calc(25% - 40px);
    height: 8rem;
    background-color: transparent;
    background: linear-gradient(to bottom, white 80%, rgba(255,255,255,0.1));*/
}

#news-container h2{
    color: #fafafa;
    font-weight: bold;
    overflow: hidden;
}

#news-container h1{
    color: #a6a6a6;
}

#news-container ul {
    list-style: none;
    padding: 9px;
    overflow:hidden;
    height: 588px;
    overflow-y:scroll;
    /*margin-top: 95px;*/
}

@media only screen and (max-width: 768px) {
    #news-container .dashhead-titles{
        margin-top: 30px;
    }
}